@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  @font-face {
    font-family: 'Anon';
    src: font-url('./fonts/AnonymousPro-Regular.ttf') format('truetype');
  }
}

@keyframes modalBGFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalBGFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modalBGFadeOut {
  animation: modalBGFadeOut .5s ease 0s;
}

.modalBGFadeIn {
  animation: modalBGFadeIn .5s ease 0s;
}

@keyframes modalWindowFadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  25% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.modalWindowFadeDown {
  animation: modalWindowFadeDown .5s ease 0s;
}

